INNGEST_EVENT_KEY=...
INNGEST_SIGNING_KEY=...

# These are the default values - Use these env variables to override
# INNGEST_BASE_URL="http://localhost:9999"
# INNGEST_REGISTER_URL="http://localhost:8090/fn/register"