# Locally-running Inngest Cloud
# INNGEST_SERVE_HOST=http://host.docker.internal:3939
# INNGEST_API_BASE_URL=http://localhost:8090
# INNGEST_EVENT_API_BASE_URL=http://localhost:9999
# INNGEST_EVENT_KEY=...
# INNGEST_SIGNING_KEY=...
# NODE_ENV=production

# Real Inngest Cloud (use ngrok as a tunnel)
# INNGEST_EVENT_KEY=...
# INNGEST_SIGNING_KEY=...
# NODE_ENV=production
